:root {
    --pico-answer-background: rgba(0, 0, 255, 0.1);
    --pico-question-background: rgba(0, 255, 0, 0.1);
}

html {
    --font-size: 95%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera*/
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
}

form {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: var(--pico-background-color);
    padding: 1rem;
    z-index: 1;
}

input[type="text"] {
    flex: 1;
    margin-right: 1rem;
}

#chat-form div {
    margin-left: 1rem;
}

.spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#send-button.htmx-request .button-text {
    display: none;
}

#send-button.htmx-request .spinner {
    display: inline-block;
}

.chat-response {
    position: relative;
    margin-bottom: 0.75rem; /* A touch bigger */
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--pico-answer-background);
    white-space: pre-wrap;
}

.copy-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--pico-primary);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.chat-response:not(.user-question) {
    animation: slideIn 1.0s ease-in-out;
}



.user-question {
    align-self: flex-end;
    background-color: var(--pico-question-background);
}

@media (max-width: 768px) {
    #chat-container {
        padding: 0.5rem;
    }

    .chat-response {
        max-width: 85%;
        width: auto;
    }

    form {
        padding: 0.5rem;
    }

    html {
        font-size: 90%;
    }
}